@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	background: linear-gradient(-45deg, #C6FFDD, #FBD786, #F7797D);
	background-size: 500% 500%;
    animation-name: gradient;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
	height: 100vh;
}

h1, th {
	color: #027461;
	text-align: justify;
	font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (1600 - 320)));
	font-weight: 400;
	font-family: 'Kaushan Script', cursive;
}

p, td {
	color: #0d917b;
	text-align: justify;
	font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
	font-weight: 400;
	font-family: 'Itim', cursive;
}

td {
	text-align: left;
}

.section-div {
	padding-top: 8px;
}

.section-header {
	text-align: center;
	font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1600 - 320)));
	font-weight: 600;
}

.portrait {
	width: auto;
	height: 150px;
	display: block;
	margin: auto;
}

.screenshot {
	height: 43vh;
	width: auto;
	display: block;
	margin: auto;
}

.bitcoin {
	height: auto;
	width: 80%;
	display: block;
	margin: auto;
}

.fontawesome {
	font-size: 30px;
	color: #027461;
	margin-right: 10px;
}

.get-in-touch {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fontawesome-big {
	font-size: 60px;
	color: #027461;
	margin: 25px;
}

@media only screen and (max-width: 600px) and (max-height: 831px) {
	.portrait-div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.portrait {
		width: 40%;
		height: auto;
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
	.screenshot {
		height: 30vh;
		width: auto;
	}
	.bitcoin {
		height: 30vh;
		width: auto;
	}
	.fontawesome-big {
		font-size: 50px;
		margin: 10px;
	}
	.fontawesome {
		font-size: 20px;
		margin-right: 5px;
	}
}

@media only screen and (min-width: 601px) {
	.section-core {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.portrait {
		height: 200px;
	}
	.screenshot {
		height: auto;
		width: 100%;
	}
}

@media only screen and (min-width: 1001px) {
	.screenshot {
		height: 60vh;
		width: auto;
	}
}